h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 30px;
}
h2 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px; 
}
body {
    border: 2px, solid, black;
}
input {
    height: 35px;
    width: 50px;
    border: 1px, solid, black;
    margin-top: 10px;
    margin-bottom:10px;
    font-size: 20px;
}
input[type="radio"]{
    font-size: 14px;
    font-family: Arial, sans-serif;
    padding-bottom: 5px;
    height: 2em;
}
sub {
    font-size: 16px;
}
.forceBtn{
    border-style:solid;
    padding-bottom:20px;
}
button {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: black;
    padding: 10px;
    margin:5px;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    border-style: solid;
    border-color: black;
    color: black;
}
#appTitle{
    width: 500px;
    display: inline-block;
    padding:4px;
    margin-top:4px;
}
.nav {
    display: inline-block;
    font-size:18px;
}
#submit {
    float: right;
    margin-top: 0px;
}
#submit:hover{
    color: #009900;
    border-color: #009900;
}
p {
    margin-right: 10px;
    font-family: Arial, sans-serif;
    font-size: 18px;
}
.rocketHead {
    font-family: Arial, sans-serif;
}

#bugReport {
    margin: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.fuel {
    display: inline;
    font-size:20px;
}
.appWrap{
    display: inline-block;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    padding: 15px;
}
.answer {
    display: inline;
    font-size:26px;
}
#launchBtn{
    background-color: darkorange;
    color: white;
    margin-left: 15px;
}
#launchBtn:disabled{
    background-color: grey;
    color: white;
    margin-left: 15px;
}
#interactive{
    float: left;
    border-style: none;    
}
#container{
    margin-left: 10px;
    border-style: none;  
    background-color: #529AB8;
}
.instructions{
    border-style: none;
    float: left;
    overflow-y: scroll;
    overflow-x: auto;
    width: 350px;
    height: 460px;
}
#buttonBlock{
    border-style: none;
    text-align: center;
    height: 80px;
}
hr {
    border-style: solid;
    border-color: darkgrey;
    margin-left: 10px;
    border-width: 1.5px;
}
iframe {
    width: 350px;
    height: 400px;
    border-style: none;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin-left: 20%;
    margin-right:20%;
    margin-top:130px;
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 12px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    font-family:Arial;
    }

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}


