<p>The figure shows a 5.0 kg block A being pushed with a 3.0 N 
force.  In front of this block is a 10.0 kg block B; the two blocks move 
together.<br><br>
<strong>What force does block B exert on A?</strong>
<br><br>
 Draw a free body diagram for <strong>block A</strong>, and provide an answer in Newtons.
</p>