<p>Draw a free body diagram for a stationary 10 kg block. What is the <strong>normal force</strong> on the block in Newtons?</p>
<p><em>To draw force arrows, click and drag from the center point in the direction of the force.</em></p>
